textarea{
  width:90%;
  height:80px;
  background-color: #fff;
  resize:none;
  margin-left: 20px;

}
button{
  width:80px;
  height:30px;
  background-color: rgb(6, 6, 90);
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 60px;
  margin-left: 20px;
}
.comment-box{
background-color: #fff;
border-radius:4px ;
padding: 20px;
margin-bottom: 4px;
margin-left: 20px;
}

.comment-box p{
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  color:#282828 ;
  font-weight: 100px;
  margin-left: 20px;
  }
  
.watching{
background-color: rgb(2, 52, 88);
color: white;
padding: 20px;
width:200px;
border-radius: 5px;
height:10px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 5px;
}